<%- include('partials/header'); -%>
<div class="mask1">
  <div class="home"><i class="fas fa-home"></i></div>
  <div class="image cover bgimg">
    <h1>"यथा चित्तं तथा वाचो यथा वाचस्तथा क्रिया"</h1>
    <p>As is the mind, so is the speech; as is the speech so is the action.</p>
  </div>
  <div class="container">
    <h1 class="pageName" id="animatedText" style="text-align: center;">This can be your <span class="typed-text"
        id="typed-text"></span><span class="cursor" id="cursor">&nbsp;</span>
    </h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-touch="true" data-wrap="true"
      data-keyboard="true">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="3000">
          <p><strong>Bored AF? PUBG servers are down? Binge watched everything? Even biching starting to get
              boring?</strong></p>
        </div>
        <div class="carousel-item" data-interval="7000">
          <p><strong>So here we are with this cute little website.<br></strong></p>
        </div>
        <div class="carousel-item" data-interval="3000">
          <p><strong>Is it better than those(PUBG, Netflix, biching)?</strong></p>
        </div>
        <div class="carousel-item" data-interval="6000">
          <p><strong>It depends, but all of the ideas of different people with different mindsets regarding various
              genres sounds good to me.</strong></p>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="container">
  <div>
    <div class="out">
      <p>Recent uploads.....</p>
      <form class="form-horizontal" role="form" action="/search" method="POST">
        <div class="container">
          <div class="d-flex">
            <div class="searchbar">
              <input class="search_input" onkeydown="noShrink()" id="searchBar" type="text" name="query"
                placeholder="Search...">
              <button type="submit" class="search_icon"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr>
  <% for(var i=array.length-1; i>=0; i--){ %>
  <% if(array[i].show==1){ %>
  <div class="row tab load-hidden">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="img">
        <img class="item" src="<%= array[i].thumbnailLink %>" alt="Card image cap">
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 hid">
      <div class="card-body">
        <h2 class="card-title"><a class="head-link" href="/contents/<%= array[i].heading %>"><%= array[i].heading %></a>
        </h2>
        <div class="d-t">
          <span class="cronos"><%= array[i].date %> </span>
          <span class="cronos"><%= array[i].time %> | </span>
          <span class="cronos">Type: <%= array[i].type %> | </span>
          <span class="cronos"><i class="fas fa-eye"></i>
            <%= array[i].views_ip.length+array[i].views_signed.length-1 %></span>
        </div>
        <hr>
        <p class="card-text"><%= array[i].about %></p>
      </div>
    </div>
  </div>

  <% } %>
  <% } %>
</div>
</div>
</div>
<script>
  const typearr = ["Home", "Blog", "Diary", "Log", "Intro", "jOB"];
  const tDel = 150;
  const eDel = 75;
  const nDel = 2000;
  let typeIndex = 0;
  let charIndex = 0;
  const x = document.getElementById("typed-text");
  const y = document.getElementById("cursor");

  function type() {
    if (charIndex < typearr[typeIndex].length) {
      if (!cursor.classList.contains("typing")) {
        cursor.classList.add("typing");
      }
      x.textContent += typearr[typeIndex].charAt(charIndex);
      charIndex++;
      setTimeout(type, tDel);
    } else {
      cursor.classList.remove("typing");
      setTimeout(erase, nDel);
    }
  }

  function erase() {
    if (charIndex > 0) {
      if (!cursor.classList.contains("typing")) {
        cursor.classList.add("typing");
      }
      x.textContent = typearr[typeIndex].substring(0, charIndex - 1);
      charIndex--;
      setTimeout(erase, eDel);
    } else {
      cursor.classList.remove("typing");
      typeIndex++;
      if (typeIndex >= typearr.length) {
        typeIndex = 0;
      }
      setTimeout(type, tDel + 1100);
    }
  }
  window.addEventListener("load", function () {
    if (typearr.length) {
      setTimeout(type, nDel + 250);
    }
  });
</script>
<%- include('partials/footer'); -%>