<%- include('partials/header'); -%>
<img class="image cover" src="https://getflywheel.com/layout/wp-content/uploads/2017/02/make-wordpress-site-mobile-friendly-large-1-1280x356.png" alt="">
    <div class="container">
        <h1>Home</h1>
        <p class="fullcontent"><%= content %></p>
        <% let j=100; %>
            <div>
                <div class="row">
                        <% for(var i=0; i<array.length; i++){ %>
                                <% if((i+1)%2===0){ %>
                                    <div class="card col-6" style="text-align: right;">
                                <% }else{ %>
                                    <div class="card col-6">
                                <% } %>
                                    <img class="card-img-top item"  src= "<%= array[i].thumbnailLink %>" alt="Card image cap">
                                    <div class="card-body">
                                        <form action="/delete" method="POST">
                                            <h2 class="card-title"><a class="head-link" href="/<%= array[i].heading %>"><%= array[i].heading %></a></h2>
                                            <div class="d-t">
                                                <span class="cronos"><%= array[i].date %> </span>
                                                <span class="cronos"><%= array[i].time %></span>
                                            </div>
                                            <hr>
                                                <% if(array[i].about.length>=j){ %>
                                                    <p class="card-text"><%=array[i].about.substring(0,j)%>...</p> 
                                                <% } %>
                                                <% if(array[i].about.length<j){ %>
                                                    <p class="card-text"><%=array[i].about %></p>
                                                <% } %> 
                                                <input type="hidden" name="noteID" value="<%= array[i].linkID %>">
                                                <input type="hidden" name="ID" value="<%= array[i]._id %>">
                                                <input type="hidden" name="comID" value="<%= array[i].comments._id%>">
                                                 <% if((i+1)%2===0){ %>
                                                    <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                                                <% }else{ %>
                                                    <button type="submit" class="btn btn-danger" style="right: 1.25rem;"><i class="far fa-trash-alt"></i></button>
                                                <% } %>

                                        </form>
                                    </div>
                                </div>
                               <% if((i+1)%2===0 && i!=0){ %>                                
                                </div>
                                <div class="row">
                              <%  }; %>
                        <% }; %>
                 </div>
            </div>
    </div>
    <script>
        var x=parseInt(window.innerWidth);
        console.log(x);
        var y=document.getElementsByClassName('card');
        console.log(y.length);
        console.log(document.getElementsByClassName('card')[0].classList);
        if(x<=1080){
            for(var i=0;i<y.length;i++){
                y[i].classList.remove("col-6");
                y[i].style.textAlign="left";
                document.getElementsByClassName('btn-danger')[i].style.right="1.25rem";
            }
        }
    </script>
<%- include('partials/footer'); -%>