<%- include('partials/header'); -%>

<div class="content">
<div class="container">
    <img class="image" src="<%= imgL %>" alt="">
    <h1><%= postHead %></h1>
    <p class="fullcontent"><%= postContent %></p>
    </div>
<%- include('partials/footer'); -%>