<%- include('partials/header'); -%>
<img class="image mobileTab" src="<%= imgL %>" alt="">
<div class="container">
    <img class="image pcTab" src="<%= imgL %>" alt="">
    <h1 class="postHead"><%= postHead %></h1>
    <div class="d-t">
        <span><%= date %></span>
        <span><%= time %></span>
    </div>
    <hr>
    <div id="imp" type="hidden">
        <%= postContent %>
    </div>
    <div type="text/html" id="newContent" class="newText">
    </div>
    <div class="authorInfo">
        <h2>Author:</h2>
        <div class="row">
            <% if(pic){ %>
            <div class="col-2">
                <img src="<%= pic %>" alt="profilepic">
            </div>
            <% }else if(!pic){ %>
            <div class="col-2">
                <img src="https://mongoose-os.com/images/generic_user.png" alt="profilepic">
            </div>
            <%  } %>
            <div class="col-7">
                <h3><a href="/viewuser/<%= authorID %>"><%= author %></a></h3>
            </div>
            <div class="col-3">
                <% if(user){ %>
                <% if(!user.subscribed.includes(authorID)){ %>
                <a href="/follow/<%= authorID %>+<%= postHead %>+f"><button class="follow btn btn-secondary"><i
                            class="fas fa-plus"></i></button></a>
                <% }else if(user.subscribed.includes(authorID)){ %>
                <a href="/unfollow/<%= authorID %>+<%= postHead %>+f" class="unfollow btn btn-dark"><i
                        class="fas fa-minus"></i></a>
                <% } %>
                <% } %>
            </div>

        </div>
        <hr>
        <p><%= info %></p>
    </div>
    <% if(user){ %>
    <hr>
    <div class="inter">
        <form class="interaction" action="/like/<%= id %>" method="POST">
            <div class="liked">
                <button type="submit" name="like" class="like" value="0" style="color: <%= likeCol %>;"><i
                        class="fas fa-thumbs-up"></i></button>
                <h3><%= likeArr.length %></h3>
            </div>
        </form>
        <form class="interaction" action="/dislike/<%= id %>" method="POST">
            <div class="disliked">
                <button type="submit" name="dislike" value="0" class="like" style="color: <%= dislikeCol %>;"><i
                        class="fas fa-thumbs-down"></i></button>
                <h3><%= dislikeArr.length %></h3>
            </div>
        </form>
    </div>
    <% } %>
    <hr>
    <% if(user){ %>
    <form action="/comments" method="POST">
        <input type="hidden" name="ID" value="<%= id %>">
        <input type="hidden" name="comTime" class="timezone">
        <input type="hidden" name="noteID" value="<%= noteID %>">
        <input type="hidden" name="titleID" value="<%= postHead %>">
        <input type="hidden" name="authID" value="<%= user._id %>">
        <div class="newComm">
            <label class="commentLabel" for="exampleFormControlTextarea1"><strong>Comment</strong></label>
            <textarea name="comment" id="comment" class="form-control form-control-sm" id="exampleFormControlTextarea1"
                placeholder="Comment here..." cols="2" rows="4"></textarea>
            <button type="submit" class="send"><i class="fas fa-paper-plane"></i></button>
        </div>
    </form>
    <% } else{ %>
    <p class="logReq">Sign in to comment and reply or to interact using like and dislike. <a href="/login"
            class="btn btn-info">Click here to
            login</a></p>
    <% } %>
    <hr>
    <h2 class="com" id="comHead">Comments and replies |<%= array.length %>|</h2>
    <div class="scrollable">
        <div class="mobpad">
            <% for(var i=0; i<array.length; i++){ %>
            <div class="com">
                <% if(array[i].commentatorID==authorID){ %>
                <h2 class="adminColor"><strong> <%= array[i].commentator %></strong></h2>
                <% } else{ %>
                <h2><strong> <%= array[i].commentator %></strong></h2>
                <% } %>
                <div class="d-t Time">
                    <span><%= array[i].comDate %>, </span>
                    <span><%= array[i].comTime %></span>
                </div>
                <hr>
                <div class="colComm">
                    <p class="commNew"><%= array[i].comment %></p>
                </div>
                <% if(user){ %>
                <form action="/reply" method="POST">
                    <input type="hidden" name="commentID" value="<%= array[i].linkID %>">
                    <input type="hidden" name="objID" value="<%= objID %>">
                    <input type="hidden" name="repTime" class="timezone">
                    <input type="hidden" name="title" value="<%= postHead %>">
                    <div class="replyBlock">
                        <textarea name="reply" id="reply" class="form-control form-control-sm"
                            id="exampleFormControlTextarea1" placeholder="Reply here..." cols="1" rows="1"></textarea>
                        <button type="submit" name="replyBtn" class="replyBtn" value="<%= array[i]._id %>"><i
                                class="fas fa-reply"></i></button>
                    </div>
                </form>
                <% } %>
                <hr>
                <% if(array[i].reply.length>0){ %>
                <i onclick="showFunc('<%=array[i]._id%>')" class="fas fa-sort-down <%= array[i]._id %>">
                    <% if(array[i].reply.length>1){ %>
                    <p style="display:inline;font-family: 'Baloo Chettan 2', cursive;"><%= array[i].reply.length %>
                        replies</p>
                    <% }else if(array[i].reply.length==1){ %>
                    <p style="display:inline;font-family: 'Baloo Chettan 2', cursive;"><%= array[i].reply.length %>
                        reply</p>
                    <% } %>
                </i>
                <% for(var j=0;j<array[i].reply.length; j++){ %>
                <div class="container replyShow <%= array[i]._id %>">
                    <% if(array[i].commentatorID==authorID){ %>
                    <h4 class="adminColor"><strong><%= array[i].reply[j].replier %></strong></h4>
                    <% }else{ %>
                    <h4><strong><%= array[i].reply[j].replier %></strong></h4>
                    <% } %>
                    <span class="Time"><%= array[i].reply[j].comDate %>, <%= array[i].reply[j].comTime %></span>
                    <hr>
                    <p class="repNew"><%= array[i].reply[j].reply %></p>
                </div>
                <% } %>
                <hr>
                <i onclick="hideFunc('<%=array[i]._id%>')" class="fas fa-sort-up <%= array[i]._id %>">
                    <p style="display:inline;font-family: 'Baloo Chettan 2', cursive;">Collapse</p>
                </i>
                <% } %>
            </div>
            <% } %>
        </div>
    </div>
</div>
<script>
    var test = document.getElementById('imp').innerText;
    document.getElementById("newContent").innerHTML = test;
    var x = Intl.DateTimeFormat().resolvedOptions().timeZone;
    var y = document.getElementsByClassName('timezone')
    for (var i = 0; i < y.length; i++) {
        y[i].value = x;
    }

    function showFunc(y) {
        var rep = document.getElementsByClassName(y);
        let indUp = 0;
        let indDown = 0;
        let arr = [];
        for (let m = 0; m < rep.length; m++) {
            arr.push(rep[m]);
        }
        for (let h = 0; h < arr.length; h++) {
            let list = arr[h].classList;
            for (let n = 0; n < list.length; n++) {
                if (list[n] == "fa-sort-up") {
                    indUp = arr[h];
                    var removed = arr.splice(arr.indexOf(arr[h]), 1);
                } else if (list[n] == "fa-sort-down") {
                    indDown = arr[h];
                    var removed = arr.splice(arr.indexOf(arr[h]), 1);
                }
            }
        }
        for (let k = 0; k < arr.length; k++) {
            arr[k].style.display = "block";
        }
        indUp.style.display = "block";
        indDown.style.display = "none";
    }

    function hideFunc(y) {
        var rep = document.getElementsByClassName(y);
        let indUp = 0;
        let indDown = 0;
        let arr = [];
        for (let m = 0; m < rep.length; m++) {
            arr.push(rep[m]);
        }
        for (let h = 0; h < arr.length; h++) {
            let list = arr[h].classList;
            for (let n = 0; n < list.length; n++) {
                if (list[n] == "fa-sort-up") {
                    indUp = arr[h];
                    var removed = arr.splice(arr.indexOf(arr[h]), 1);
                } else if (list[n] == "fa-sort-down") {
                    indDown = arr[h];
                    var removed = arr.splice(arr.indexOf(arr[h]), 1);
                }
            }
        }
        for (let k = 0; k < arr.length; k++) {
            arr[k].style.display = "none";
        }
        indUp.style.display = "none";
        indDown.style.display = "block";
    }
</script>
<%- include('partials/footer'); -%>