<%- include('partials/header'); -%>
    <div class="container">
        <img class="image" src="<%= imgL %>" alt="">
        <h1><%= postHead %></h1>
        <div class="d-t">
            <span><%= date %> </span>
            <span><%= time %></span>
        </div>
        <hr>
        <div id="imp" type="hidden">
            <%= postContent %>
        </div>
        <div type="text/html" id="newContent" class="newText">
        </div>
        <hr>
        <form action="/comments" method="POST">
            <input type="hidden" name="ID" value="<%= id %>">
            <input type="hidden" name="noteID" value="<%= noteID %>">
            <input type="hidden" name="titleID" value="<%= postHead %>">
            <label for="exampleFormControlTextarea1"><strong>Name</strong></label>
            <input class="form-control form-control-lg comName"name="commentator" autocomplete="off" placeholder="Enter your name here..." type="text">
            <div class="newComm">
                <label class="commentLabel" for="exampleFormControlTextarea1"><strong>Comment</strong></label>
                <textarea name="comment" id="comment"class="form-control form-control-sm" id="exampleFormControlTextarea1" placeholder="Comment here..." cols="2" rows="4"></textarea>
                <button type="submit" class="send"><i class="fas fa-paper-plane"></i></button>
            </div>
        </form>
        <hr>
        <% for(var i=0; i<array.length; i++){ %>
            <div class="com">
                <h2><strong> <%= array[i].commentator %></strong></h2>
                <div class="d-t Time">
                    <span><%= array[i].comDate %>, </span>
                    <span><%= array[i].comTime %></span>
                </div>
                <hr><br>
                <div class="row">
                 <div class="col-lg-6 col-sm-12 colComm">
                    <p class="commNew"><%= array[i].comment %></p>
                    <button class="like"><i class="fab fa-the-red-yeti"></i></button>
                 </div>
                </div>
                <form action="/reply" method="POST">
                    <input type="hidden" name="commentID" value="<%= array[i].linkID %>">
                    <input type="hidden" name="objID" value="<%= objID %>">
                    <input type="hidden" name="title" value="<%= postHead %>">
                    <input class="form-control form-control-sm replyName" name="replier" autocomplete="off" placeholder="Enter your name here..." type="text">
                    <div class="replyBlock">
                        <textarea name="reply" id="reply"class="form-control" id="exampleFormControlTextarea1" placeholder="Reply here..." cols="1" rows="1"></textarea>
                        <button type="submit" name="replyBtn" class="replyBtn" value="<%= array[i]._id %>"><i class="fas fa-reply"></i></button>
                    </div>
                </form>
                <hr>
                <% for(var j=0;j<array[i].reply.length;j++){ %>
                     <div class="container replyShow">
                        <h4><strong><%= array[i].reply[j].replier %></strong></h4>
                        <span class="Time"><%= array[i].reply[j].comDate %>, <%= array[i].reply[j].comTime %></span>
                        <hr>
                        <p class="repNew"><%= array[i].reply[j].reply %></p>
                     </div>
                     <hr>
                <% } %>
            </div>
        <% } %>
    </div>
    <script>
        var test = document.getElementById('imp').innerText;
        document.getElementById("newContent").innerHTML= test;
    </script>
<%- include('partials/footer'); -%>